import(coda)
import(grDevices)
import(graphics)
import(stats)
import(truncnorm)
import(utils)
import(wpp2017)

export(
	run.mig.mcmc,
	mig.predict,
	mig.trajectories.plot.all,
	get.mig.mcmc,
	coda.list.mcmc
)
